/* @import "./node_modules/tailwindcss/base.css";
@import "./node_modules/tailwindcss/components.css";
@import "./node_modules/tailwindcss/utilities.css"; */

body {
  font-family: sans-serif;
  margin: 0px;
  background: linear-gradient(
    120deg,
    rgb(92, 47, 166) 13.57%,
    rgb(90, 54, 192) 98.38%
  );
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.active {
  background-color: red;
  color: blue;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -63%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -35%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
