<ol id="mainNav"
  class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
  style="position: fixed; z-index: 1; background-color: grey;">
  <li
    class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <a href="#home">
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
        <svg aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"></path>
        </svg>
        Sobre mí
      </span>
    </a>
  </li>
  <li
    class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <a href="#proyectos">
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
        Proyectos
      </span>
    </a>
  </li>
  <li
    class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <a href="#trabajosFormacion">
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
        Trabajos y Formación
      </span>
    </a>
  </li>
  <li
    class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <a href="#habilidades">
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
        Skills
      </span>
    </a>
  </li>
  <li
    class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
    <a href="#redesSociales">
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
        Redes Sociales
      </span>
    </a>
  </li>
</ol>




<div id="home" class="relative overflow-hidden bg-white">
  <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1 class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Robert Carcolé Solanes
        </h1>
        <p class="mt-4 text-xl text-gray-500">Junior Full-Stack Developer & SysAdmin</p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true"
            class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div
              class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg" alt=""
                      class="h-full w-full object-cover object-center">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#"
            class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Shop
            Collection</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
		<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
		<div class="fixed inset-0 z-10 overflow-y-auto">
			<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
				<div
					class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
					<div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
						<div class="sm:flex sm:items-start">
							<div
								class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
								<svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
								</svg>
							</div>
							<div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
								<h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Deactivate
									account</h3>
								<div class="mt-2">
									<p class="text-sm text-gray-500">Are you sure you want to deactivate your account?
										All of your data will be permanently removed. This action cannot be undone.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
						<button type="button"
							class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Deactivate</button>
						<button type="button"
							class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div> -->

<!-- <div class="bg-white">
		<div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
			<div
				class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
				<svg viewBox="0 0 1024 1024"
					class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
					aria-hidden="true">
					<circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
						fill-opacity="0.7" />
					<defs>
						<radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
							<stop stop-color="#7775D6" />
							<stop offset="1" stop-color="#E935C1" />
						</radialGradient>
					</defs>
				</svg>
				<div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
					<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Boost your
						productivity.<br>Start using our app today.</h2>
					<p class="mt-6 text-lg leading-8 text-gray-300">Ac euismod vel sit maecenas id pellentesque eu sed
						consectetur. Malesuada adipiscing sagittis vel nulla.</p>
					<div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
						<a href="#"
							class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get
							started</a>
						<a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span
								aria-hidden="true">→</span></a>
					</div>
				</div>
				<div class="relative mt-16 h-80 lg:mt-8">
					<img class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10"
						src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
						alt="App screenshot" width="1824" height="1080">
				</div>
			</div>
		</div>
	</div> -->



<div id="proyectos" class="bg-white">

  <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <h2 class="text-4xl font-bold dark:text-white">Proyectos</h2>
    <br>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 grow grow:hover">
        <a href="https://myyummydough.com/home" target="_blank">
          <img class="rounded-t-lg" src="/imatges/portfolioMyyummydough.png" alt="" />
          <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Aplicación web full-stack
              sobre recetas de cocina</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
              technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </a>
      </div>
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 grow grow:hover">
        <a href="https://www.capiolinfrastructure.com/" target="_blank">
          <img class="rounded-t-lg" src="/imatges/portfolioCAPIOL.png" alt="" />
          <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wordpress para empresa</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
              technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </a>
      </div>
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 grow grow:hover">
        <a href="https://singanddanceproject.com/" target="_blank">
          <img class="rounded-t-lg" src="/imatges/portfolioSingAndDance.png" alt="" />
          <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wordpress para empresa</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
              technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </a>
      </div>
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 grow grow:hover">
        <a href="https://www.masrosello.com/" target="_blank">
          <img class="rounded-t-lg" src="/imatges/portfolioMasRosello.png" alt="" />
          <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wordpress para empresa</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
              technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </a>
      </div>
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 grow grow:hover">
        <a href="http://www.bazarpuerto.es/" target="_blank">
          <img class="rounded-t-lg" src="/imatges/portfolioBazar.png" alt="" />
          <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Landpage tienda</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
              technology acquisitions of 2021 so far, in reverse chronological order.</p>
          </div>
        </a>
      </div>
    </div>
  </div>




  <div id="trabajosFormacion" class="flex">
    <div class="w-1/2">
      <div id="accordion-collapse" data-accordion="collapse" style="display: grid; place-items: center;">
        <h2 id="accordion-collapse-heading-1">
          <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-collapse-body-1" aria-expanded="false"
            aria-controls="accordion-collapse-body-1">
            <span>Trabajos realizados</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <ol class="relative border-l border-gray-200 dark:border-gray-700">
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">01/2023
                  -
                  04/2023</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CAPIOL
                  INFRASTRUCTURE&ASSET
                  MANAGEMENT S.L, Barcelona</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Prácticas
                  de
                  Máster
                  desarrollando una web de cero en REACT usando<br>
                  HTML5, CSS3, JS ES6,
                  MySQL Workbench, PHP con framework LARAVEL para backend.
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">10/2022
                  -
                  12-2022</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">BUGAMED
                  MEDITERRANEA
                  S.L,
                  Reus
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Responsable de
                  la
                  entrada
                  y
                  salida de género de la nave, organización y
                  orden de material para los clientes.
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">03/2021
                  –
                  12-2021</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">TRIVIUM
                  QUADRIVIUMQUE
                  DIGITAL
                  S.L, Reus</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Programador
                  Full Stack
                  usando
                  HTML5, CSS3 (Bootstrap),<br> JS (ES6, Jquery), PHP7(Symfony 3), MySQL,
                  GoogleAnalytics,
                  GoogleSearchConsole<br> en empresa dedicada a prensa con CMS propio,
                  modificando y
                  adaptando
                  código,<br> añadiendo
                  funcionalidades, creando funciones usando API’s externas para obtener
                  datos,<br>
                  crear
                  gráficas,
                  API's de redes sociales, Google web stories, etc.</p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019
                  -
                  2021</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Freelance</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Realización
                  páginas
                  web
                  (<a href="https://www.capiolinfrastructure.com/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">capiolinfrastructure.com</a>,
                  <a href="https://www.singanddanceproject.com"
                    class="text-blue-600 dark:text-blue-500 hover:underline">singanddanceproject.com</a>,
                  <a href="https://www.masrosello.com"
                    class="text-blue-600 dark:text-blue-500 hover:underline">masrosello.com</a>,<br>
                  colaboración en <a href="https://www.bazarpuerto.es"
                    class="text-blue-600 dark:text-blue-500 hover:underline">bazarpuerto.es</a>).
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">11/2018
                  -
                  03/2019</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CIDE Xarxes i
                  telecomunicacions,
                  La Selva del Camp
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Administrador
                  de
                  sistemas.
                  Prácticas del CFGS
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">07/2017
                  -
                  11/2019</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">INSPECTORATE
                  ESPAÑOLA,
                  S.A,
                  Tarragona
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Realizar
                  trabajos
                  consistentes
                  en control de calidad y cantidad <br> dentro de la
                  actividad cíclica intermitente de inspección de buques.
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">06/2010
                  -
                  09/2010</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">EMPRESA MIXTA DE
                  AGUAS
                  DE
                  TARRAGONA, S.A. (EMATSA),
                  Tarragona
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Peón de apoyo
                  a los
                  oficiales
                  encargados en las tareas de mantenimiento de las instalaciones<br> de las
                  estaciones
                  remotas
                  de
                  control de red, así como de sus equipos de telecomandamientos<br> y
                  telecontroles y
                  del
                  centro
                  del control de red, incluyendo el mantenimiento del sistema<br> de
                  comunicación
                  entre
                  los
                  distintos elementos.
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">08/2009
                  -
                  09/2009</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">NAUTIC TARRAGONA
                  SA,
                  Tarragona
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Auxiliar
                  marinero.
                  Mantenimiento de limpieza en el Puerto Deportivo de Tarragona
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">07/2009
                  -
                  08/2009</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CONSTRUCCIONES Y
                  OBRAS
                  LOS
                  ALBERTOS, S.L.,
                  Tarragona
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Peón de apoyo
                  dentro
                  de la
                  empresa EMATSA.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <div class="w-1/2">
      <div id="accordion-collapse" data-accordion="collapse" style="display: grid; place-items: center;">
        <h2 id="accordion-collapse-heading-2">
          <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
            aria-controls="accordion-collapse-body-2">
            <span>Formación</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <ol class="relative border-l border-gray-200 dark:border-gray-700">
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">01/2022
                  -
                  08/2022</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">TokioSchool</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Máster en
                  Programación
                  web
                  Front-End: HTML5, CSS3 y Javascript.</p>
                <a href="https://www.tokioschool.com/formaciones/cursos-programacion/front-end/?_gl=1*18qkpd8*_up*MQ..&gclid=Cj0KCQjwuLShBhC_ARIsAFod4fIo0hJRZJ3h9eY5W2YBQEUw4RmTJmkKyLgioFzPxdRzg0EQjIuROkcaAujpEALw_wcB"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Más
                  información <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg></a>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019
                  -
                  2023</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">SASE formación
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Aprendiendo
                  por cuenta
                  propia
                  y formación no reglada Desarrollo de Aplicaciones Web</p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2020</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">MOOC</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Introducción
                  al
                  Análisis
                  del
                  Malware en Windows (Facultad Regional Buenos Aires, patrocinado Telefónica).
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2014
                  -
                  2018</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Institut Obert
                  de
                  Catalunya
                  (IOC)</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Ciclo
                  Formativo de
                  Grado
                  Superior de Administración de Sistemas Informáticos en Red</p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2009
                  -
                  2011</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Salesians de
                  Sarrià,
                  Barcelona
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">1er curso de
                  Ciclo
                  Formativo
                  de Grado Superior de Sistemas de Telecomunicaciones e Informáticos</p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2007
                  -
                  2009</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Santa Isabel,
                  Barcelona
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">1er curso de
                  Bachillerato
                  Tecnológico</p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2001
                  -
                  2006</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Santa Teresa de
                  Jesús,
                  Barcelona.</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Título de
                  Educación
                  Secundaria
                  Obligatoria (E.S.O)</p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="habilidades" class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <h2 class="text-4xl font-bold dark:text-white">Habilidades</h2>
    <br>

    <div class="grid md:grid-cols-5 gap-4 text-center">

      <fa-icon data-te-toggle="tooltip" data-te-placement="top" data-te-ripple-init data-te-ripple-color="light"
        title="HTML5" class="text-7xl tooltip fa-brands fa-html5 cursor-pointer grow grow:hover" [icon]="faHtml5">
      </fa-icon>
      <fa-icon [icon]="faCss3"></fa-icon>
      <fa-icon [icon]="faJs"></fa-icon>
      <fa-icon [icon]="faReact"></fa-icon>
      <fa-icon [icon]="faNode"></fa-icon>
      <fa-icon [icon]="faPhp"></fa-icon>
      <fa-icon [icon]="faLaravel"></fa-icon>
      <fa-icon [icon]="faLinux"></fa-icon>
      <fa-icon [icon]="faWindows"></fa-icon>
      <fa-icon [icon]="faDatabase"></fa-icon>


      <div class="text-7xl tooltip fa-brands fa-html5 cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">HTML5</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-css3 cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">CSS3</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-js cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">JavaScript</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-react cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">REACT</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-node cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">NodeJS</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-php cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">PHP 7/8</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-laravel cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">Laravel 9</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-linux cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">Linux</span>
      </div>
      <div class="text-7xl tooltip fa-brands fa-windows cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">Windows 7/8.1/10/11</span>
      </div>
      <div class="text-7xl tooltip fa-solid fa-database cursor-pointer grow grow:hover">
        <span class="text-xs tooltiptext">MySQL</span>
      </div>
    </div>
  </div>




























  <footer id="redesSociales" class="bg-white">
    <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
      <div class="flex justify-center mt-8 space-x-6">
        <span class="inline-flex justify-center w-full gap-3 m-auto md:justify-start md:w-auto">
          <a href="https://github.com/rcarcole" class="w-6 h-6 transition fill-black hover:text-blue-500"
            target="_blank">
            <span class="sr-only">
              github
            </span>
            <!-- <ion-icon class="w-5 h-5 md hydrated" name="logo-github" role="img" aria-label="logo github"></ion-icon> -->
          </a>
          <a href="https://www.linkedin.com/in/robert-carcol%C3%A9-solanes-1251b7235/"
            class="w-6 h-6 transition fill-black hover:text-blue-500" target="_blank">
            <span class="sr-only">
              Linkedin
            </span>
            <!-- <ion-icon class="w-5 h-5 md hydrated" name="logo-linkedin" role="img" aria-label="logo linkedin"></ion-icon> -->
          </a>
        </span>
      </div>
      <p class="mt-8 text-center">
        <span class="mx-auto mt-2 text-sm text-gray-500">
          Sin copyright © 2023 en <a href="#" class="font-bold text-gray-900">rocarcoleso.com</a> no
          tengo
          ningún derecho reservado, apoyo el código abierto y acceso gratuito a la información :)
        </span>
      </p>
    </div>
  </footer>

  <script>
    // Cache selectors
    var lastId,
      topMenu = $("#mainNav"),
      topMenuHeight = topMenu.outerHeight() + 1,
      // All list items
      menuItems = topMenu.find("a"),
      // Anchors corresponding to menu items
      scrollItems = menuItems.map(function () {
        var item = $($(this).attr("href"));
        if (item.length) { return item; }
      });

    // Bind click handler to menu items
    // so we can get a fancy scroll animation
    menuItems.click(function (e) {
      var href = $(this).attr("href"),
        offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
      $('html, body').stop().animate({
        scrollTop: offsetTop
      }, 850);
      e.preventDefault();
    });

    // Bind to scroll
    $(window).scroll(function () {
      // Get container scroll position
      var fromTop = $(this).scrollTop() + topMenuHeight;

      // Get id of current scroll item
      var cur = scrollItems.map(function () {
        if ($(this).offset().top < fromTop)
          return this;
      });
      // Get the id of the current element
      cur = cur[cur.length - 1];
      var id = cur && cur.length ? cur[0].id : "";

      if (lastId !== id) {
        lastId = id;
        // Set/remove active class
        menuItems
          .parent().removeClass("active")
          .end().filter("[href=#" + id + "]").parent().addClass("active");
      }
    });

  </script>


  <router-outlet></router-outlet>